<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/post.css" />
  </head>
  <body>
    <div class="post">
      <div class="post-header">
        <div class="avatar">
          <img src="{avatar_url}" alt="Avatar" />
        </div>
        <div class="author-info">
          <span class="author-name">{author_name}</span>
          <span class="post-date">{date}</span>
        </div>
      </div>

      <div class="post-content">{post_content}</div>

      <div class="see-more">
        <a href="{detail_link}">Voir plus</a>
      </div>

      <div class="post-actions">
        <div class="like-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="blue"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path
              d="M7 11v8a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1h3a4 4 0 0 0 4-4V6a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1-2 2h-7a3 3 0 0 1-3-3"
            />
          </svg>
          <span class="count">{like_count}</span>
        </div>

        <div class="comments-btn">
          <a href="{detail_link}#comments" class="comments-link">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              viewBox="0 0 24 24"
            >
              <path d="M3 20l1.65-4.95A8 8 0 1 1 8.5 20H3z" />
            </svg>
            <span class="count">{comment_count}</span>
          </a>
        </div>

        <div class="share-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path
              d="M4 12v1a8 8 0 0 0 8 8h0a8 8 0 0 0 8-8v-1M12 5l4 4m0 0l-4 4m4-4H4"
            />
          </svg>
          <span class="count">{share_count}</span>
        </div>
      </div>
    </div>
  </body>
</html>
